.env
.editorconfig
package-lock.json
/public/storage
/storage/*.key
/vendor
storage/*
storage/logs/laravel.log
composer.lock
*.lock
*.log
public/additional_files/*
ORG-FILES/*
uploads/*
tests/*
node_modules/*
stubs/*
# Ignore everything inside the bootstrap/cache folder
bootstrap/cache/*

# But don't ignore the folder itself
!bootstrap/cache/