.vscode
.env
.editorconfig 
*.lock
*.log
.htaccess 
vendor/*
storage/*
tests/*
uploads/*
node_modules/*
public/uploads 
public/uploads/*
public/css/common.css
public/delays/*
public/comments/*
public/additional_files/*
public/additional_files
.timetracker
bootstrap/cache/search_module.php
