.env
.editorconfig
package-lock.json
/public/storage 
/public/uploads 
/vendor
*.lock
*.log
uploads/*
tests/*
node_modules/*
/bootstrap/cache/*
.htaccess-old
.htaccess 
public/*
/storage/*
storage/*
public/css/common.css