 .clearFilterContainer {
     position: absolute;
     left: auto;
     right: 0;
     width: auto;
     transform: translateX(-40px);
     display: inline-block;
     opacity: 1;
     transition: 1s;

     .clear_filter {
         background: #47647b;
         color: #fff;
         padding: 8px 15px;
         margin-top: 8px;
         border-radius: 4px;
         font-weight: 500;
     }
 }

 .project-tools {
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
 }

 div#status-tabs {
     height: 50px;
 }

 .filterable-budget-net-table {
     .input-items {
         display: flex;
         align-items: center;
         justify-content: center;
         column-gap: 13px;

         input[type="number"] {
             max-width: 70px;
         }
     }

     .price-input {
         width: 100%;
         display: flex;
         margin: 0;

         .field {
             width: auto;
         }
     }



     input[type="number"] {

         &::-webkit-outer-spin-button,
         &::-webkit-inner-spin-button {
             -webkit-appearance: none;
         }
     }


     .slider_filter {
         height: 5px;
         position: relative;
         background: #ddd;
         border-radius: 5px;

         .progress2 {
             height: 100%;
             left: 0%;
             width: 100% !important;
             position: absolute;
             border-radius: 5px;
             background: #17a2b8;
         }
     }

     .range-input {
         position: relative;
         margin: 0;
         padding: 0;

         input {
             position: absolute;
             width: 100%;
             height: 5px;
             top: -11px;
             padding: 0 !important;
             background: none;
             pointer-events: none;
             -webkit-appearance: none;
             -moz-appearance: none;
         }
     }

     input[type="range"] {
         &::-webkit-slider-thumb {
             height: 17px;
             width: 17px;
             border-radius: 50%;
             background: #17a2b8;
             pointer-events: auto;
             -webkit-appearance: none;
             box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
         }

         &::-moz-range-thumb {
             height: 17px;
             width: 17px;
             border: none;
             border-radius: 50%;
             background: #17a2b8;
             pointer-events: auto;
             -moz-appearance: none;
             box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
         }
     }
 }

 table.dataTable>tbody>tr>th,
 table.dataTable>tbody>tr>td {
     text-wrap: nowrap;
 }

 ul.project-submenu {
     margin-bottom: 30px;
     margin-top: 30px;

     a.dash-link {
         padding: 3px 10px 3px 20px;
     }
 }

 .nav.dash-item-tabs#project,
 .pagination-btn {
     height: auto !important;
 }

 .data-sub-name {
     display: none;
 }