.projectsTableContainter {
    /* max-height: calc(100vh - 20px); */
    box-shadow: none;
    overflow: hidden;
}

.projectsTableContainter>.card-body {
    overflow-x: auto;
    overflow-y: hidden;
}

.projectsTableContainter table#projectsTable {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    min-width: max-content;
    font-size: 18px;
    transition: 0.05s;
}

.projectsTableContainter table#projectsTable tbody tr:hover {
    background: var(--hover-background-color) !important;
    box-shadow: 0px 0px 10px 4px #f1f1f1;
    /* border-radius: 10px; */
    border: 0 !important;
    outline: 0 !important;
    transition: 0.05s;
}

.projectsTableContainter #projectsTable_info,
.projectsTableContainter .dt-paging.paging_simple {
    font-size: 18px;
    font-weight: normal;
}

.projectsTableContainter table#projectsTable thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: #e9e9e9;
    border-style: solid;
    border-width: 1px;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}

.projectsTableContainter table#projectsTable span.dt-column-order {
    opacity: 0;
    right: 8px !important;
    transition: .2s;
}

.projectsTableContainter table#projectsTable th:hover span.dt-column-order {
    opacity: 1;
    transition: .2s;
}

.projectsTableContainter table#projectsTable span.dt-column-order:after,
.projectsTableContainter table#projectsTable span.dt-column-order:after {
    line-height: 15px;
}

.projectsTableContainter table#projectsTable>tbody>tr>td {
    border-bottom: 1px solid #e9e9e9 !important;
}

.projectsTableContainter table#projectsTable tr:first-child {
    border-left: none;
}

.projectsTableContainter table#projectsTable tr:last-child {
    border-right: none;
}

.projectsTableContainter table#projectsTable td {
    font-family: "Open Sans", sans-serif;
}

.projectsTableContainter table#projectsTable thead {
    background: #f2f5ff;
}

.projectsTableContainter table#projectsTable thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    min-width: 200px;
    max-width: 350px;
}

.projectsTableContainter table#projectsTable thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projectsTableContainter table#projectsTable thead th {
    background: #f1f1f1 !important;
    padding: 15px 30px !important;
    font-size: 20px;
    font-weight: 500;
    border-bottom: none !important;
    min-width: 135px;
}

.projectsTableContainter table#projectsTable>thead>tr>td {
    border-bottom: none;
}

.projectsTableContainter table#projectsTable>tbody>tr>td:not(:nth-child(2)),
.projectsTableContainter table#projectsTable>thead>tr>th:not(:first-child) {
    text-align: center;
}

.projectsTableContainter table#projectsTable>tbody>tr>td:first-child {
    border-right: none;
}

.projectsTableContainter table#projectsTable>tbody>tr>td:last-child {
    border-right: none;
}

.projectsTableContainter table#projectsTable>tbody>tr>td:nth-child(2) {
    max-width: 310px;
}

.projectsTableContainter table#projectsTable>tbody .data-thubmnail {
    text-align: center;
    margin: auto;
    padding: 10px 0px;
}

.projectsTableContainter table#projectsTable>tbody .data-thubmnail img {
    border: 1px solid #eee;
    border-radius: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    user-select: none;
}

.projectsTableContainter table#projectsTable>tbody .data-project-status {
    margin: auto 5px;
    padding: 6px 10px;
    border-radius: 5px;
    border: none !important;
    font-size: 16px;
}